h2{
  color:green;
}

.container{

}

#button-area{

}

#gifSpace{
  clear:both;
}

img{
  margin:2em;
  width:90%;
}

p{
  display:inline;
}

.footer img{
  width:5em;
  height:5em;
  float:right;
}
